/*prueba*

/*ID utilizadas por Isabel = ESLOGAN - LOGIN - CARRITO - INICIO*/
*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(9, 66, 147);
    color: whitesmoke;
   /* width: 100%;*/
    width:auto;
	height: 200PX;
}
.ancho{
    width: 100%;
    height: 200px;
    margin: 0;
}
.logo{
    margin-left:50px;
    /*width: 30%;*/
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 50px;
    font-family: rale;
}
@font-face {
    font-family: rale;
    src: url(./fonts/Raleway-Bold.ttf);
}

#eslogan{
    /*margin-left: 35%;*/
    margin-left: 800px;
    font-size: 50px;
}
#login{
    float:right;
    margin-right: 30px;
}
#carrito{
    float:right;
    margin-right: 40px;
    margin-top:4px;


}
#inicio{
    float:right;
    margin-right: 30px;
    margin-top:3px;
    height: 50px;
}
/* menu */
#menu ul{
    list-style: none;
    margin-left: 30px;
    padding: 0px;
}

/* enlaces del menu */

#menu ul a{
display: block;
color: whitesmoke;
text-decoration: none;
font-size: 30px;
padding: 10px;
font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-left: 20px;
}

/* items del menu */

#menu ul li a:hover{
    background: darkblue;
}
/*menu desplegable */
#menu ul ul{
    top:100%;
    left:0;
    padding: 0;
}

#menu ul ul li {
    float: none;
    width: 240px;
    margin-top: 50px;
}
#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
 #menu ul li:hover {
    display:block;
   }
/*Para desplegar el menu*/
#menu:hover #menu-content{
display:block;

}
.desplegar{
    position: relative;
    display: inline-block;

}
.desplegar-content{
    display: none;
    position: absolute;

}
.desplegar:hover .desplegar-content {
    display: block;
    background-color: rgb(9, 66, 147);

}

.desplegar:hover .desplegar {
    background-color: #3e8e41;
}
.lateral{
    height: 100%;
    width: 70px;
    position: absolute;
    margin:0px;
    background-color: rgb(9, 66, 147);
}

/*linea vertical header */
hr{
    background-color: lightslategray;
    margin-top: 30px;
    margin-right: 0px;
    padding-left: 0px;
}

#imgPortada{
    margin-left: 70px;
    width: 50%;
    height: 700px;
}

#patinete{
    margin-left: 25px;
    margin-right: 0px;
    padding: 0;
    width: 45%;
    height: 700px;
}
.novedades{
    margin-left:100px;
    padding: 100px;
    margin-top: 30px;
    margin-right: 150px;
    width: 50%;
}

table{
width: 100%;    
}

    .servicios{
    width: 100%;
    font-size: 50px;
    margin-left: 0%;
    margin-top:30px;
    margin-bottom: 20px;
    height: 800px;
}


.servicios1{
    margin-left: 100px;
    width: 40%;
    float:left;
    background-color:gainsboro;
    border: 2px solid rgb(9, 66, 147);
    padding: 20px;
    border-radius: 20px; 
    height: 800px;
    line-height: 150%;
}

.servicios2{
    float:right;
    width: 40%;

    background-color: gainsboro;
    border: 2px solid rgb(9, 66, 147);
    padding: 20px;
    border-radius: 20px; 
    height: 800px;
    line-height: 150%;



}
/*formularios*/
.formulario{
margin-top: 5%;
margin-left: 5%;
height: 50%;
width: 43%;
background-color: gainsboro;
}
.textoFormulario{
    font-size: 30px;
}
form{
    padding:20px;
    padding-left: 50px;
    height: 100%;
    width: 100%;
    line-height: 550%;

}
label{
    font-size: 30px;
}
/*Mapa*/
.mapa{
float:right;
margin-top: 0%;
height: 40%;
width: 43%;
}
.condiciones{
    margin-top: 30px;
    margin-left: 0%;
    margin-bottom: 30px;
    width: 100%;
}
.condiciones1{
    float:left;
    width: 40%;
    height: 30%;
    padding-left:0px;
    margin-left: 5%;
    font-size: 30px;
    /*line-height: 250%;*/
    color:whitesmoke;
   /* background-color: rgb(75, 72, 72);
    border-radius: 5px;
    border: 2px solid blue;
    border-radius: 5px; */
}

.condiciones1 a{
    color: whitesmoke;
}

.condiciones2{

    padding: 0px; 
    margin: 5%; 
    border: 2px solid black; 
    float: left; 
    width: 40%;
   /* float: right;
   /* width: 40%;
    height: 20%;
    margin-bottom: 50px;*/
   /* width: 40%;
    height: 30%;
    margin-left: 0%;
    margin-bottom: 0%;
    font-size: 40px;*/


}

footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: -50px;
    height: 200px;
    padding:5px 0px;
    clear: both;
    background-color: rgb(9, 66, 147);
   /* text-align: center;*/
    color: #fff;
}



.pie{
    text-decoration: none;
    color: whitesmoke;
    font-size:50px;
    
    
  /*  text-align:center;*/


}

.imgFooter{
    float: right;
    margin-top: 0px;
    margin-right: 50px;
}
.instagram{
    height: 47px;
}

/*******************************Hasta aquí codigo de Isabel *************************************************************************************/
