/***********************************************************/

body{
    margin: 0;
    padding: 0;
}
.container{
    min-height:100vh;/*importante*/
    position:relative;/*importante*/
    background-color: rgb(9, 66, 147);
    width: 100%;
    height: 100%;


}
.header{
    display: flex;
    background-color: rgb(9, 66, 147);
    height: 100%;
    width: 100%;
}
.containerHeaderStart{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}


.titulo{
    text-align: center;
    color: blue;
    font-size: 150%;
}
.tituloCabecera{
    text-align: center;
    color: whitesmoke;
    font-size: 150%;

}
.margenes{
    margin-left: 4%;
}
.containerHeaderCenter{
    width: 20%;
    flex-direction: row;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

/* menu */
#menu ul{
    list-style: none;
    margin-left: 35px;
    padding: 0;
}

/* enlaces del menu */

#menu ul a{
display: block; /*sin esta posicion se superpone el menu desplegable a la palabra menu*/
color: whitesmoke;
text-decoration: none;
font-size: 30px;
padding: 10px;
font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-left: 20px;
}


/* items del menu */

#menu ul li a:hover{
    background: darkblue;

}

#menu ul ul li {
    width: 240px; /*ancho del menu desplegable*/
    margin-top: 50px;
    display:block;   /* evita que menu se ilumine horizontalmente al pasar el raton por encima*/


}
#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }

.desplegar{
    display: inline-block;/*sin esto la palabra menu se ilumina toda la barra en horizontal al pasar el raton por encima*/

}
.desplegar-content{
    display: none; /*sin esto el menu no se pliega y se ven los enlaces sin color*/
    position: absolute;/*sin esta posicion el menu desplegable se abre a lo ancho y tapa toda la pantalla*/

}
.desplegar:hover .desplegar-content {
    display: block; /*hace que el menú se desplegue en bloque*/
    background-color: rgb(9, 66, 147);

}
#contenidoCentro {
    display: flex;
    width: 100%;
}
#contenido1{
    width: 10%;
    background-color: rgb(9, 66, 147);
}
#contenido2{
    background-color: white;
    width: 90%;
    padding: 1%;
}
/*Cambios en las imagenes imagenes*/
#imgPortada{
    width: 100%;
    height: 500px;
}
.secciones{

    text-align: center;
    color: blue;
    font-size: 350%;

}
.grid-rows{
    display: grid;
    grid-template-columns: repeat(auto-fill,350px);/*ancho columnas*/
    grid-template-rows:    repeat(auto-fill,350px);/*largo columnas*/
   place-content: center;
}

.novedades{
    width: 300px;
    height: 300px;

}


.grid-rows-ofertas {

    display: grid;
    grid-template-columns: repeat(auto-fill,350px);/*ancho columnas*/
    grid-template-rows:    repeat(auto-fill,350px);/*largo columnas*/
    place-content: center;
}
.grid-rows-servicios{
    display: grid;
    grid-template-columns: repeat(auto-fill,450px);/*ancho columnas*/
    grid-template-rows:    repeat(auto-fill,200px);
    place-content: center;
}
.video{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.servicios1{
    background-color:gainsboro;
    border: 2px solid rgb(9, 66, 147);
    /*padding: 20px;*/
    border-radius: 20px;
    line-height: 100%;
    text-align: center;



}
.formulario{
    display: flex;
    flex-direction: row;
    font-size: large;
    font-family: "Arial Black";
    color: rgb(9, 66, 147);
    align-content: center;

}
.formulario1{
    display: flex;

    border: solid rgb(9, 66, 147);
    padding: 10px;
    font-size: large;
    font-family: "Arial black";
    color: rgb(9, 66, 147);
    }

    .imagenFormulario{


        text-align: center;
        justify-content: center;
        font-size: large;
        font-family: "Arial Black";
        color: rgb(9, 66, 147);

    }
    .imgform{
        width: 100%;
        height: 80%;
    }
    .mapa{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
.condiciones{
    background: rgb(9, 66, 147);
   display: flex;
    justify-content: center;
    font-size: large;
    font-family: "Arial Black";
}

.condiciones1{
    margin-left: 10%;
    color: whitesmoke;
}
.condiciones1 a{
    color: whitesmoke;
}

.condiciones2{
    background: rgb(9, 66, 147);
    display: flex;
     justify-content: center;
     font-size: large;
     font-family: "Arial Black";
    align-items: center;
    margin-left: 10%;
    color: whitesmoke;
}

.imgFooter{
    display: flex;
    align-items: center;
}
.mapa img{
    width: 50%;/*Se va  a la derecha el mapa y deja mucho margen con la izquierda*/
}
.mapa iframe{
    width: 50%;
}



